@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap'); 

* {
    box-sizing: border-box ;
}

body {
    font-family: "Merienda" , sans-serif;
    display: block;
    align-items:center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    margin:0;
}

.welcome {
    display: flex;
    font-family: 'Merienda';
    font-style: italic;
    font-size: 3.5vw;
    font-weight: 100;
    align-self: center;
    color: #000;
    justify-content: center;
    text-align: center;
    margin:none;
    box-shadow: 3px 3px 9px rgba(0,0,0,0.1);
    height:auto;
    width: 100%;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.welcomeTitle {
    display:flex;
    padding-top:1%;
    background-color:darkcyan;
    margin:none;
}

#top {
    display:flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#NoShow {
display: none;
}

#Home-button {
background-color: green;
}

#Contact-button {
    background-color: #fff;
}

#Locations-button {
    background-color: red;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
    background-image: url(wall.jpg);

    width:100vw;
}

.top-button {
    margin: none;
    width: 33.5%;
    font-family: 'Merienda';
    height:7vh;
    font-size:inherit;
    border: 0px 0px 12em 0px;
    border-color: #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-self: center;
}

.carousel {
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    height: 280px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 13%;
    align-self: center;
}

 .img {
     width: 500px;
     height: 250px;
     object-fit: cover;
 }

.image-container {
display: flex;
transform: translateX(0);
scroll-snap-type: x;
transition: transform 0.5s ease-in-out;
}

.btn {
    background-color: darkcyan;
    color:blanchedalmond;
    justify-self: center;
    border: none;
    border-radius: 4px;
    width: 47.5%;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.btn:hover {
    opacity: .9;
}

.btn:focus {
    outline: none;
}

#Menu-title {
    font-family: 'Merienda';
    text-align: center;
    height: 10%;
    width: 100%;
    justify-self: center;
}

#Menu {
    width:100%;
    display: flex;
    height: 100%;
    flex-direction: row;
}

#menu-header {
    width:75%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(stone.jpg);
}

.link-background {
    position: relative;
    display: flex;
    z-index: -1;
    font-style: italic;
    font-size: 1rem;
    padding-top:.5%;
    padding-bottom:1.5%;
    height: 2rem;
    margin: 0;
    background-color: blanchedalmond;
    justify-content: center;
    text-align: center;
    opacity: .7;
    color: #000;
    width: 100%;
}

.blinking{
    animation:blinkingText 12s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: silver; }
    60%{    color: #000; }
    99%{    color: silver;  }
    100%{   color: #000;    }
}

.Link-box {
    justify-content: space-evenly;
    background-image: url(wall.jpg);
    position:relative;
    height:3.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: .7;
    display: flex;
}

.top-button:hover {
    color:rosybrown;
}

.link-icon {
    height: 3rem;
    width: 3rem;
    flex-direction: row;
    display:flex;
    padding-bottom:1%;
    justify-self: center;
}

 .links {
    height: auto;
    width: auto;
    margin:none;
    border: none;
    display:flex;

}

#community-tab {
    background-image: url(stone.jpg);
    display: flex;
    filter:brightness(.9);
    flex-direction: column;
    justify-content:center;
    width:25%;
    text-overflow: clip;
    overflow:auto;
}

.Community {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    border-color:silver;
    height: 3.5rem;
    display:flex;
    border-radius: 2%;
    margin:0;
    font-size:2.5rem;
    vertical-align: middle;
    text-overflow:clip;
    justify-content: center;
    padding-bottom:3%;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 63%, 67%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 65% {        
        text-shadow: none;
    }    
  }

h1 {
    margin: 50px 0px 30px;
    text-align:center;
}

.faq-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(wall.jpg);
    background-size: cover;
    background-position: center;
    max-width: 25vw;
    padding:1%;
    justify-content: space-around;
}

.faq {
    background-image:url(stone.jpg);
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    padding: 2rem;
    width:23vw;
    align-self: center;
    filter: sepia(.5) drop-shadow(2px 4px 6px black);
    position:relative;
    overflow:hidden;
    transition: 0.3s ease;
    margin: 20px 0;
}



.faq.active {
background-color: #fff;
box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq.active::before,
.faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color:#2ec771;
    font-size:7rem;
    position:absolute;
    opacity: 0.2;
    top: 20px;
    z-index:0;
    transition: .3s linear;
    }

    .faq.active::before {
        color: #fff;
        top: -10px;
        left:-30px;
        transform: rotate(180deg);
    }

    .fa-chevron-down {
        color:#000;
    }

    .faq-title {
        margin: 0 2rem 0 0;
        text-align: center;
    }

    .faq-text {
        display:none;
        margin: 30px 0 0;
        color:#000;
        text-align: center;
        font-family: 'Merienda';
    }

    .faq.active .faq-text {
        display:block;
        background-color: #fff;
    }

    .faq-toggle {
        background-color: transparent;
        border: 0;
        border-radius:50%;
        cursor: pointer;
        display:block;
        align-content:center;
        justify-content: center;
        font-size:16px;
        padding: 0;
        position:absolute;
        top:30px;
        right:30px;
        height:30px;
        width:30px;
    }

    .faq-toggle:focus {
        outline:none;
    }

    .faq-toggle .fa-times{
        display:none;
    }

    .faq.active .faq-toggle .fa-times {
        display:block;
        align-content:center;
        justify-self:center;
    }

    .faq.active .faq-toggle .fa-chevron-down {
        display:none;
        color:#fff;
    }

    .faq.active .faq-toggle {
        background-color:#9fa4a8;
    }

 embed {
    height:90%;
    width: 90%;
    margin:0;
    display: flex;
    align-self: center;
    overflow-y:auto;
    overflow-x: hidden;
}